body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #405de6;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 20px;
}

#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%; /* Make the images fill the container */
    max-height: 200px; /* Set a max height */
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.like-btn {
    cursor: pointer;
    color: #ccc;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    font-size: 20px;
}

.like-btn.liked {
    color: #ff5733;
}
